doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Eliminating Female &amp; Child Anaemias
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Playball&display=swap", rel="stylesheet")
    style.
      *{
      padding: 0;
      margin: 0;
      list-style: none;
      box-sizing: border-box;
      }
      
      label.logo{
      color: aliceblue;
      font-size: 35px;
      line-height: 0 80px;
      padding: 0 100px;font-weight: bold;
      }
      nav ul{
      float: right;
      margin-right: 20px;
      }
      nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
      }
      nav ul li a{
      color: aliceblue;
      font-size: 17px;
      text-transform: uppercase;
      }
      .active{
      border: 1px solid silver;
      padding: 3px;
      margin:10px;
      text-decoration: none;
      border-radius: 3px;
      
      }
      .active:hover{
      background-color: beige;
      color: #000;
      transition: .7s;
      cursor: pointer;
      }
      
      .container{
      background-color: white;
      color: black;
      font-style: normal;
      font-size: 24px;
      background-image:image(Elements-of-food-security-FAO-2014);
      z-index: -1;
      background-color: #d5f4e6 ;
      }
      h1{
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Playball', cursive;
      font-size: 2em;
      
      }
      
      .po1{
      padding-top: 10px;
      padding-left: 14px;
      font-family: 'Playball', cursive;
      }
      .po2{
      padding-top: 10px;
      padding-left: 14px;
      font-family: 'Playball', cursive;
      }
      .po3{
      padding-top: 10px;
      padding-left: 14px;
      font-family: 'Playball', cursive;
      }
      .po5{
      padding-top: 10px;
      padding-left: 14px;
      font-family: 'Playball', cursive;
      }
      .po6{
      padding-top: 10px;
      padding-left: 14px;
      font-family: 'Playball', cursive;
      }
      .po7{
      padding-top: 10px;
      padding-left: 14px;
      font-size: 25px;
      font-family: 'Playball', cursive;
      }
      .po8{
      padding-top: 10px;
      padding-left: 14px;
      font-size: 25px;
      font-family: 'Playball', cursive;
      }
      .po9{
      padding-top: 10px;
      padding-left: 14px;
      font-size: 25px;
      font-family: 'Playball', cursive;
      }
      .po10{
      padding-top: 10px;
      padding-left: 14px;
      font-size: 25px;
      font-family: 'Playball', cursive;
      }
      .po11{
      padding-top: 10px;
      padding-left: 14px;
      font-size: 25px;
      font-family: 'Playball', cursive;
      }
      .po12{
      padding-top: 10px;
      padding-left: 14px;
      font-size: 25px;
      font-family: 'Playball', cursive;
      }
      .po13{
      padding-top: 10px;
      padding-left: 14px;
      font-size: 25px;
      font-family: 'Playball', cursive;
      }
      .po14{
      padding-top: 10px;
      padding-left: 14px;
      font-size: 25px;
      font-family: 'Playball', cursive;
      }
      
      li{
      padding-top: 5px;
      font-family: 'Playball', cursive;
      }
      .shyam{
      background-color: #d5f4e6;
      font-family: 'Playball', cursive;
      }
      nav{
      background: #3782c4;
      height: 80px;
      width: 100%;
      font: 30px;
      font-style: normal;
      }
  body
    nav
      label(class="logo") HERITAGE
      ul
        
        li
          a(class="active", href="feedback_form") FEEDBACK
        li
          a(class="active", href="about") ABOUT US
    div(class="shyam")
      div(class="container")
        h1
          | Eliminating Female &amp; Child Anaemia
        h3 What is anaemia?
        p1
          div(class="po1")
            | Anaemia happens when you do not have enough red blood cells. The cells travel with iron and , 
            | hemoglobin which is a protein that helps carry oxygen through the bloodstream to your organs all
            | through the body. When someone develops anaemia, they are said to be &quot;anaemic.&quot; Being anaemic might
            | mean that you feel more tired or cold than you usually do, or if your skin seems too pale. This is due 
            | to your organs not receiving the oxygen they need to do their jobs. Some people find out they are low in 
            | iron when they go to donate blood.
        p2
          h3 How common is anaemia?
          div(class="po2")
            | Anaemia affects more than two billion people globally, which is more than 30% of the total population.
        p3
          h3 Who is most likely to develop anaemia?
          | Anyone can develop anaemia, although the following groups have a higher risk:
          ul
            li
              b  Women:
              | Blood loss during monthly periods and childbirth can lead to anaemia. 
              | This is especially true if you have heavy periods or a condition like fibroids.
            li
              b Children, ages 1 to 2:
              | The body needs more iron during growth spurts.
            li
              b Infants:
              | Infants may get less iron when they are weaned from breast milk or formula to solid food. 
              | Iron from solid food is not as easily taken up by the body
        p4
          h3
            | What are the signs and symptoms of anaemia?
          div(class="po4")
            ul
              li Dizziness or weakness.
              li Headache.
              li Sore tongue.
              li Pale skin, dry skin, or easily bruised skin.
              li Unintended movement in the lower leg (restless legs syndrome).
              li Fast heartbeat.
            
        p5
          h3 Why is Anaemia more pervasive among women?
          div(class="po5")
            | There are multiple reasons behind women being more prone to Anaemia 
            | , namely, lack of proper nutrition, intergenerational that is transferred from one 
            | generation to another and blood loss during delivery and menstrual cycle.
          div(class="po5")
            | In the case of intergenerational, if a woman is Anaemic and lives undernourished throughout her life, it is passed on to the baby.
            | Further, when a baby has a lower nutrition status at birth, it becomes difficult to uplift the level of nutrition.
        p6
          h3 Anaemia among women and children in India
          div(class="po6")
            | Just over half (51%) of Indian women of reproductive age (15 to 49 years) are anaemic, according to the just-released Global
            | Nutrition Report 2017. A similar number (53%) were estimated to be anaemic in the fourth National Family Health Survey (NFHS-IV)
            | in 2015-16.
          div(class="po6")
            | These estimates are only marginally lower than the 55% recorded in NFHS-III in 2005-06, and barely 10 percentage points lower than the 63.7%
            | in a 1958 regional study, the earliest research on record in a WHO compendium.
          div(class="po6")
            | A 1961 study conducted in present-day Telangana among children aged one to six found anaemia prevalence to be 52.2%.
            | A pan-India study of the same age group in 2015 found the figure to be 58.4%.
          div(class="po6")
            | A paper published in ‘Scientific Reports’ pointed out that about 58.5% of children below five years of age in India are anaemic.
          ul
            li
              h3 Maternal Education-
              div(class="po6")
                | Maternal education increases the chances of mothers being aware of different health issues and thus taking the
                | correct and appropriate steps towards preventing such issues.
              div(class="po6")
                | There exists an inverse relationship between the mother&apos;s education and the incidence of childhood anaemia. In other words, as the mother’s
                | education level increases, the tendency of the child to be anaemic decreases significantly.
            li
              h3 Wealth of the Family-
              div(class="po6") 52.9% of children in rich households were marked anaemic.
              div(class="po6") The number was 63.2% in the poorest households.
              div(class="po6")
                | This suggests that a large number of children in poor households are anaemic, though the situation in
                | rich households is also not that well.
            li
              h3 Maternal Age-
              div(class="po6")
                | There exists an inverse relationship between the age of mothers and the incidence of anaemia in children.
                | The children of younger mothers are more anaemic.
              div(class="po6")
                | This reveals the powerlessness of mothers in the age group 15-19 years in ensuring that the children get the right food.
              | This also reveals the power dimension in the allocation and use of resources in the household.
           
        p7
          h2 TYPES OF ANAEMIA
          ul
            li
              div(class="po7")
                b Iron deficiency anaemia - 
                | Treatment for this form of anaemia usually involves taking iron supplements and 
                | changing your diet. For some people, this might involve receiving iron through a vein.
              div(class="po7")
                | If the cause of iron deficiency is loss of blood — other than from menstruation — the source of the bleeding must be located and the bleeding stopped. 
                | This might involve surgery.
            li
              div(class="po7")
                b Vitamin deficiency anaemias -   
                | Treatment for folic acid and vitamin C deficiency involves dietary supplements and increasing these nutrients in your diet.
                | If your digestive system has trouble absorbing vitamin B-12 from the food you eat, you might need vitamin B-12 shots. At first, you might have the shots every other day. Eventually, you&apos;ll need shots just once a month, possibly for life, depending on your situation.
            li
              div(class="po7")
                b Anaemia of chronic disease -
                | There&apos;s no specific treatment for this type of anaemia. Doctors focus on treating the underlying disease. If symptoms become severe, a blood transfusion or injections of a synthetic hormone normally produced by your kidneys (erythropoietin) 
                | might help stimulate red blood cell production and ease fatigue.
                li
                  div(class="po7")
                    b Aplastic anaemia -
                    | -Treatment for this anaemia can include blood transfusions to boost levels of red blood cells. You might need a bone marrow transplant
                    | if your bone marrow can&apos;t make healthy blood cells.
                li
                  div(class="po7")
                    b Sickle cell anaemia -
                    | Treatment might include oxygen, pain relievers, and oral and intravenous fluids to reduce pain and prevent complications. Doctors might also recommend blood transfusions, folic acid supplements and antibiotics. A cancer drug called hydroxyurea (Droxia, Hydrea, Siklos) 
                    | also is used to treat sickle cell anaemia.
                li
                  div(class="po7")
                    b Thalassemia -
                    | Most forms of thalassemia are mild and require no treatment. More-severe forms of thalassemia generally require blood transfusions, folic acid supplements, medication,
                    | ss removal of the spleen, or a blood and bone marrow stem cell transplant.
                p8
                  h3 How can Anaemia be prevented?
                  | While some types of anaemia are short-term and mild, others can last throughout a lifetime.
                  | There are several ways to help manage anaemia, including:
                  ul
                    li(class="po8")
                      | Following a healthy diet.
                    li(class="po8")
                      | Drinking enough water to stay hydrated.
                    li(class="po8")
                      | Exercising regularly. However, if you have been weak, you should begin exercising cautiously.
                      | Check with your healthcare provider about ways to exercise safely.
                    li(class="po8")
                      | Avoiding exposure to chemicals that set off anaemia.
                    li(class="po8")
                      | Washing your hands often to avoid infection.
                    li(class="po8")
                      | Taking good care of your teeth and going to the dentist regularly.
                    li(class="po8")
                      | With anaemia, making good food choices is important. Eating junk food means you are getting calories without nutrients.
                      | You also have to consider other medical conditions that you have when you make your food choices.
                  
                p9
                  div(class="po9")
                    h3 What causes anaemia during pregnancy?
                    | While mild anaemia is common for many people during pregnancy,
                    | it can become a serious problem that requires more advanced medical treatment if left unmanaged.
                  div(class="po9")
                    | When you lack sufficient red blood cells to move oxygen throughout your body, 
                    | it has an impact on your organs and bodily functions.
                  div(class="po9")
                    | There are more than 400 kinds of anaemia. There are also many different causes,
                    | but it often comes down to red blood cell production and health.
                p10
                  div(class="po10")
                    h3 Ways to prevent common types of anaemia during pregnancy :
                    | In most cases, anaemia is preventable during pregnancy, especially with a diet rich in good nutrition.
                    | Here are some ways to make sure you’re getting the necessary vitamins and minerals to keep your red blood cell levels within the right range.
                    ul
                      li(class="aa")
                        | Prenatal vitamins typically contain most of the micronutrients that you need during pregnancy, including iron and folic acid.
                      li(class="aa")
                        | In most cases, anaemia is preventable during pregnancy, especially with a diet rich in good nutrition.
                        | Here are some ways to make sure you’re getting the necessary vitamins and minerals to keep your red blood cell levels within the right range.
                      li(class="aa")
                        | Most people can get sufficient amounts of iron and folic acid during pregnancy by eating the right foods. Good sources of these essentials minerals include:
                        ul
                          ul
                            li
                              | Poultry
                            li
                              | Fish
                            li
                              | Lean Red Meats
                            li
                              | Beans
                            li
                              | Nuts and Seeds
                            li
                              | Dark Leafy Greens
                            li
                              | Fortified Cereals
                            li
                              | Eggs
                            li
                              | Fruits like Bananas and Melo
                p11
                  div(class="po11")
                    h3 How is anaemia in a child treated?
                    | Treatment will depend on your child’s symptoms, age, and general health. It will also depend on how severe the condition is.
                  div(class="po11")
                    | The treatment for anaemia depends on the cause. Some types do not require treatment. Some types may require medicine, blood transfusions,
                    | surgery, or stem cell transplants. Your child&apos;s healthcare provider may refer you to a hematologist. This is a specialist in treating blood disorders.
                    | Treatment may include:
                    ul
                      li
                        | Vitamin and mineral drops or pills.
                      li
                        | Changing your child&apos;s diet.
                      li
                        | Stopping a medicine that causes anaemia.
                      li
                        | Medicine.
                      li
                        | Surgery to remove the spleen.
                      li
                        | Blood transfusions.
                      li
                        | Stem cell transplants.
                p12
                  div(class="po12")
                    h3 How is anaemia diagnosed?
                    | Your healthcare provider can perform blood tests to tell if you have anaemia. 
                    | The main test is a complete blood count test, also called the CBC. The CBC can tell you how many red blood cells you have,
                    | how big they are and what shape they are. Blood tests can also tell you if you are low in vitamins B12 and B9 and how much
                    | iron your body has stored.
                p13
                  div(class="po13")
                    h3
                      | How is anaemia treated?
                    | First, your healthcare provider will find out if the anaemia is being caused by a poor diet or a more serious health problem.
                    | Then, you can be treated for both the anaemia and its cause.
                    br
                    | Iron-deficiency anaemia is treated with:
                    ul
                      li
                        | Iron supplements taken by mouth.
                      li
                        | Foods high in iron and foods that help your body absorb iron (like foods with Vitamin C).
                      li
                        | Iron given through an intravenous (IV) infusion. (This is often a choice if you have chronic kidney disease, or CKD.)
                      li
                        | Transfusions of red blood cells.
                      li
                        | If your anaemia is caused by internal bleeding, your provider may need to do surgery to stop it. Surgical repair has been 
                        | used to cure anaemia in people with the paraesophageal type of hiatal hernias, with or without ulcers (called Cameron’s ulcers).
                      li
                        | Other types of anaemia may require other types of treatment. For instance, genetic disorders (like beta thalassemia and sickle cell anaemia)
                        | may require bone marrow transplant.
                p14
                  div(class="po14")
                    h3 Conclusion:
                    | With proper steps and guidance anaemia can prevented easily. It’s important to be educated on what you can do to take the best care of yourself that you can. 
                    | It is also important that you and your healthcare provider make decisions together about what works best for you.
