doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title    Guaranteeing Nutritional Security
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Playball&display=swap' rel='stylesheet')
    style.
      *{
      padding: 0;
      margin: 0;
      list-style: none;
      box-sizing: border-box;
      }
      nav{
      background: #3782c4;
      height: 80px;
      width: 100%;
      font: 30px;
      }
      label.logo{
      color: aliceblue;
      font-size: 35px;
      line-height: 0 80px;
      padding: 0 100px;font-weight: bold;
      }
      nav ul{
      float: right;
      margin-right: 20px;
      }
      nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
      }
      nav ul li a{
      color: aliceblue;
      font-size: 17px;
      text-transform: uppercase;
      }
      .active{
      border: 1px solid silver;
      padding: 3px;
      margin:10px;
      text-decoration: none;
      border-radius: 3px;
      }
      .active:hover{
      background-color: beige;
      color: #000;
      transition: .7s;
      cursor: pointer;
      }
      .po1{
      margin: 12px 12px;
      }
      .po2{
      margin: 12px 12px;
      }
      .po3{
      margin: 12px 12px;
      }
      .po4{
      margin: 7px 7px;
      }
      .po5{
      margin: 12px 12px;
      }
      li{
      margin: 12px 12px;
      }
      .po6{
      margin: 12px 12px;
      }
      .container{
      width: 100%;
      height: 100%;
      padding: 0em;
      margin-top: 0em;
      background-color: #d5f4e6;
      color: black;
      font-style: normal;
      font-size: 24px;
      background-image:image(Elements-of-food-security-FAO-2014);
      z-index: -1;
      font-family: 'Playball', cursive;
      font-size: 2em;
      }
      h3{
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Playball', cursive;
      font-size: 2em;
      }
      h2{
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Playball', cursive;
      font-size: 3em;
      }
  body
    nav
      label.logo HERITAGE
      ul
        
        li
          a.active(href='feedback_form') FEEDBACK
        li
          a.active(href='about') ABOUT US
    .container
      h2
        | Guaranteeing Nutritional Security
      h3
        | What are food and nutrition security?
      p1
        .po1
          | Food and nutrition security is when all individuals have reliable
          | access to sufficient quantities of affordable, nutritious food to
          | lead a healthy life.
        .po1
          | The problem of food and nutrition insecurity is multidimensional in nature.
        .po1
          h5 Availability:
          |  Sufficient food must be available on a consistent basis to all.
        .po1
          h5 Accessibility:
          |  The food may be produced or available for consumption. However,
          |              it does not help if it can’t reach those who are in need of it. Thus, there must
          |               be sufficient resources to obtain appropriate foods for the achievement of food and nutrition security.
        .po1
          h5 Utilization:
          |  Food must be prepared and consumed appropriately based on the basic knowledge of nutrition and handling,
          |             as well as the availability of adequate water and sanitation to prevent foodborne diseases.
        .po1
          | The availability, and utilization of a nutritious food must be consistent without being vulnerable to economic and natural shocks.
        .po1
          | National Food and Nutrition Security Analysis report was developed in partnership between the World Food Programme (WFP) and the Ministry of Statistics and Programme Implementation (MoSPI), Government of India.
      .box
        img(src='../static/imagea.jpg' alt='IMAGE NOT AVAILABLE')
      .po1
        | The significant findings of National and Nutrition Security Analysis report are as follows:
      .po1
        | Malnutrition amongst children in India is estimated to be high in spite of all the progress made in food security.
      .po1
        b The slow decline of child stunting:
        |             In the last decade, the child stunting had been reduced at a rate of about 1% per year.
        |              This is the slowest among the emerging economies. At this rate, about 31.4% of children will be stunted by the 2022 deadline.
        |               Based on the current trends, almost one in three children under five years of age will be stunted by 2022.
      .po1
        b  Access to nutritious food has not been increased:
        |            The yield of food grains has raised to 33% over the last 2 decades. This is only half of
        |              the 2030 target yields. The consumers’ access to rice, wheat, and other cereals has not increased at the same rate due to population growth, food wastage,
        |              and losses, inequality and exports. As a consequence, the average per capita consumption of energy among the poorest 30% of the population is 1811 kilocalories.
        |               This is much lower than the norm of 2155 kilocalories per day.
      .po1
        b Nutrition:
        |              In the early decades, India was suffering from only under-nutrition. In the last decade, however, it had to
        |               deal with both under-nutrition and over-nutrition and is becoming prominent in recent times. Despite the positive trends and
        |              results of the food security measures in India, many people, especially women and children are vulnerable to micronutrient deficiency.
      .po1
        b  analysis: 
        |              In Bihar and Uttar Pradesh, the stunting rate is around 48% and 46% respectively. This means that, in these states, almost
        |              every 2nd child is stunted. On the other hand, in Kerala and Goa, it is only one in five children.
      .po1
        b  The most vulnerable:
        |             There is a high rate of stunting amongst children in the poorest wealth quintile (51.4%), Scheduled Tribes (43.6), Scheduled Castes (42.5%) and children of illiterate mothers (51%).
        |              According to UNICEF, 38% of children younger than 5-years of age in India are stunted. This is the outcome of chronic under-nutrition in the country.
        |              Stunting and other malnutrition may be responsible for nearly half of all children’s deaths globally.
      h2
        | Prevalence of stunting, wasting, and underweight in children under five years of age in India.
      p2
        .po2
          | Child wasting refers to a child who is too thin for his or her height and is the result of recent rapid weight loss or the failure to gain weight
        .po2
          | A stunted child is too short for their age, does not fully develop and stunting reflects chronic undernutrition during the most critical periods of growth
          | and development in early life.
        .po2
          | A child is underweight if they're in the bottom 5th percentile for weight compared to their height. Underweight is not only classified compared to other children their
          | age, but to their height as we clinically look for a child to be proportionate.
        div
          img(src='../static/imageb.jpg' alt='IMAGE NOT AVAILABLE')
      p3
        h2
          | Government of India Programmes and Initiatives
        .po3
          | With a five-fold increase in food grain production from 50 million tonnes in 1950-51 to about 250 million tonnes in 2014-15, India has moved away from
          | dependence on food aid to become a net food exporter. In 2016, the government launched a number of programmes to double farmers’ incomes by 2022. These
          | seek to remove bottlenecks for greater agricultural productivity, especially in rain-fed areas. They include: the National Food Security Mission, Rashtriya
          | Krishi Vikas Yojana (RKVY), the Integrated Schemes on Oilseeds, Pulses, Palm oil and Maize (ISOPOM), Pradhan Mantri Fasal Bima Yojana, the e-marketplace, as
          | well as a massive irrigation and soil and water harvesting programme to increase the country’s gross irrigated area from 90 million hectares to 103 million hectares
          | by 2017.
        .po3
          | The government has also taken significant steps to combat under- and malnutrition over the past two decades, such as through the introduction of mid-day meals at schools,
          | anganwadi systems to provide rations to pregnant and lactating mothers, and subsidised grain for those living below the poverty line through a public distribution system.
          | The National Food Security Act (NFSA), 2013, aims to ensure food and nutrition security for the most vulnerable through its associated schemes and programmes, making access
          | to food a legal right.
      p4
        h2
          | Challenges faced by India with regard to food and nutrition security
        .po4
          | There are several challenges that are affecting the food and nutritional security of India. They are as follows:
        ul
          li.po4
            b Climate Change:
            |  The rise in temperature and the unreliability of rainfall makes
            |                          it highly difficult for the agricultural sector to grow. It is not only exclusively
            |                           affecting the crop outputs but also affecting livestock, fisheries, and aquaculture,
            |                            forests This, as a consequence, can affect the income, employment opportunities, trade,
            |                             health, etc., leading to it becoming a multidimensional problem.
          li.po4
            b Accessibility:
            |  Even today, few areas in India are isolated and infrastructure development and connectivity
            |                         in these areas are few and far between. This is especially prominent in rural areas and tribal settlements.
          li.po4
            b  Migration:
            |  In recent times, there is an increase in rural-to-urban migration. Therefore, there is
            |                         an increase in competition for limited employment opportunities. This has led to growth in slums. These slums lack
            |                          proper housing, health, and hygiene and are increasing the food insecurity.
          li.po4
            b Biofuel:
            |  Currently, there is a high demand for biofuels in the market due to the interventions by the government.
            |                         This has reduced food cultivation.
          li.po4
            p4
              b Implementation:
              |  Although there are numerous nutritional and food security programmes across the nation, the
              |                              implementation is inefficient due to the exclusion of deserving beneficiaries. This is also because the identification
              |                               of the beneficiaries is subjective and they differ from
            p4
              | Lack of coordination between various ministries is preventing the implementation of innovative food and nutrition security measures.
            p4
              b  Unsustainable agricultural practices:
              |  The overexploitation of resources for increasing the production of crops is creating both environmental and
              |                              economic impacts within the country.
      .po5
        p5
          | While implementing food and nutrition security, the government must include the following:
          ul
            li
              | The government must provide security to the tenant cultivators through policies and laws.
            li
              | Measures should be taken to preserve and increase the cultivable land.
            li
              | The government must assist the farmers to improve their production capacities by providing them
              | with irrigation facilities, high-quality seeds, fertilizers, credits with low and stable interest rates, etc.
            li
              | Promotion of aeroponics and hydroponics – the systems that allow the plants to grow without soil. This will ensure
              | the efficient use of water and nutrients. Given the increased , land degradation, desertification, and reduction in the
              | area of cultivable land, making use of these techniques in a country that may have a very high population in the future is
              | a need of the hour.
            li
              | Infrastructure and technological development to ensure improved food storage capacity in rural areas.
            li
              | Adoption of crops and techniques that needs less water consumption. For example, the System of Rice Intensification (SRI) method
              | for rice cultivation.
            li
              | Government measures to promote crops that require less water to grow.
            li
              | Promotion of agricultural practices that maintains soil moisture to reduce
              | wastage of water.
            li
              | Promotion of Blue Revolution: Improving the performance of fisheries and aquaculture
              | sectors to ensure food and nutrition security. This is a highly efficient source of protein.
              | It can be made use of to address the nutrition security of the country.
            li
              | Integration of agriculture with other related sectors. For example Rice-Fish integration,
              | horticulture-fish system, mushroom-fish system, and integration of agricultural crops like rice,
              | coconut, and banana with fish culture under on interlinked system.
            li
              | Biotechnology: India is still not making use of the potentials emerging out of biotechnology.
              | Selective breeding of livestock and Genetically Modified (GM) plants can produce specified and needed nutrients.
              | Example: GM wheat that is resistant to diseases and breeding of cows to increase the milk yields.
            li
              | The local health departments must supervise the efficiency of nutrient security schemes on a regular basis.
            li
              | The unskilled, informal labour force must be provided with healthy and safe working conditions and decent wages.
            li
              | Awareness and education on family health and nutrition must be prioritized by the government. Participatory and planned
              | communications methods should be used in these situations.
            li
              | The cooperatives play a significant role in providing food security to the poor especially in southern and western India.
              | The cooperatives set up shops to sell goods at a cheap price. These initiatives must be encouraged and promoted.
      .po6
        h2
          | CONCLUSION
        p6
          | The aspiration to achieve zero hunger is still not unachievable in India despite all the indications of otherwise. It can be achieved by
          | addressing the multidimensional problem of food insecurity by framing of policy that encompasses various issues like inequality, environmental
          | impacts, for achieving sustainable food and nutritional security to all.
    | ]
